form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.form__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 15px;
}

.form__item label{
    font-size: 17px;
}

.form__item input{
    width: 225px;
}

.form__item textarea{
    max-width: 225px;
    min-width: 225px;
    min-height: 80px;
    max-height: 150px;
}

.form__item_button{
    height: 30px;
    background-color: #646cff;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease-in-out;
}
.form__item_button:hover,
.form__item_button:focus{
    background-color: rgb(207, 207, 207);
    color: #646cff;
}

.error-msg{
    width: 225px;
    font-size: 11.5px;
    color: red;
    
}