.form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items:end;
}

.form-label{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-top: 10px;
}

.form-inputButton{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: #646cff;
    color: white;
    border: #646cff 2px solid;
    transition: all 0.2s ease-in-out;
}
.form-inputButton:hover,
.form-inputButton:focus{
    background-color: white;
    color: #646cff;
}


.form-input{
    width: 200px;
}

.form-textarea{
    width: 200px;
}

.form-InBuCard{
    width: 150px;
}